.table {
    display: block;
    margin: auto;
    width: 75%;
}

.priceTable {
    text-align: left;
}

.priceLine {
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    width: 75%
}